@font-face {
	font-family: "Square deal";
	font-weight: 700;
	src: url("square-deal.ttf")
}

body {
	font-family: Roboto, Verdana, sans-serif;
	width: 400px;
	height: 90vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

#status {
	text-align: center;
}

#control form {
	width: 100%;
}

#buttons {
	display: flex;
}

label {
	width: 100px;
}

input, select {
	font-size: 1em;
	width: 100%;
	height: 5vh;
	padding: 0;
	border: none;
	border-radius: none;
	background-color: white;
}

input[type=text], select {
	border-bottom: 1px dashed grey;
	height: 3vh;
	margin-top: 1vh;
	margin-bottom: 2vh;
}

input[type=submit] {
	text-decoration: underline;
}

input[type=submit]:hover {
	background-color: darkgray;
}
