body {
	width: 400px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

.container, form {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

form {
	width: 100%;
	flex-direction: column;
}

label {
	width: 100px;
}

input, select {
	font-size: 1em;
	height: 5vh;
	padding: 0;
	border: none;
	border-radius: none;
	background-color: white;
}

input[type=text], select {
	border-bottom: 1px dashed grey;
}
